

body{
    max-width: 700px;
    margin: 0 auto !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center !important;
    background-color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
:root{
    --lignt-c: #ddd;
    --dark-c: #111;
    --text-shadow:1px 1px 2px rgb(0, 0, 0, 0.8);

}
h1{
    color: orange;
    margin: 4rem 0;
    text-shadow: var(--text-shadow);
}
h1 span{
    background-color: var(--dark-c);
    color: var(--lignt-c);
    padding: 0.2rem 1rem;
}
.container{
    margin-top: 3rem;
    width: 350px !important;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px ;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0, 0.8);
}
.element{
    width: 100px;
    height: 100px;
    border: 1px solid var(--dark-c);
    box-shadow: 0px 0 4px 0px rgb(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lignt-c);
    text-shadow: var(--text-shadow);
    border-radius: 5px;
}
.element:hover{
    cursor: pointer;
    box-shadow: inset 0 0 100px 5px var(--dark-c);
}